main {
  padding: 2rem 4rem;
}

.payment-details {
  border-radius: 15px;
  border: none;
  box-shadow: 0 0 10px rgba(0, 11, 58, 0.5);
}

.payment-progress {
  display: grid;
  align-items: center;
  grid-template-columns: 35px 1fr 35px 1fr 35px 1fr 35px;
  position: relative;
}
.payment-progress .circle {
  z-index: 1;
  position: relative;
  background-color: #F9F9FF;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-weight: bold;
  border: 1px solid #000B3A;
  transition: color 0.2s, background-color 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.payment-progress .circle::after {
  content: attr(data-content);
  color: #000B3A;
  position: absolute;
  top: -30%;
  left: 100%;
}
.payment-progress .circle.filled {
  background-color: #000B3A;
  color: #F9F9FF;
}
.payment-progress .bar {
  position: relative;
  width: calc(100% + 6px);
  height: 12px;
  border-top: 1px solid #000B3A;
  border-bottom: 1px solid #000B3A;
  transform: translateX(-4px);
}
.payment-progress .bar::before {
  content: "";
  position: absolute;
  inset: 0;
  transform: scaleX(0);
  transform-origin: 0;
  background-color: #000B3A;
  transition: transform 1s ease-in-out;
}
.payment-progress .filled-0.bar::before {
  transform: scaleX(0);
}
.payment-progress .filled-1.bar::before {
  transform: scaleX(0.01);
}
.payment-progress .filled-2.bar::before {
  transform: scaleX(0.02);
}
.payment-progress .filled-3.bar::before {
  transform: scaleX(0.03);
}
.payment-progress .filled-4.bar::before {
  transform: scaleX(0.04);
}
.payment-progress .filled-5.bar::before {
  transform: scaleX(0.05);
}
.payment-progress .filled-6.bar::before {
  transform: scaleX(0.06);
}
.payment-progress .filled-7.bar::before {
  transform: scaleX(0.07);
}
.payment-progress .filled-8.bar::before {
  transform: scaleX(0.08);
}
.payment-progress .filled-9.bar::before {
  transform: scaleX(0.09);
}
.payment-progress .filled-10.bar::before {
  transform: scaleX(0.1);
}
.payment-progress .filled-11.bar::before {
  transform: scaleX(0.11);
}
.payment-progress .filled-12.bar::before {
  transform: scaleX(0.12);
}
.payment-progress .filled-13.bar::before {
  transform: scaleX(0.13);
}
.payment-progress .filled-14.bar::before {
  transform: scaleX(0.14);
}
.payment-progress .filled-15.bar::before {
  transform: scaleX(0.15);
}
.payment-progress .filled-16.bar::before {
  transform: scaleX(0.16);
}
.payment-progress .filled-17.bar::before {
  transform: scaleX(0.17);
}
.payment-progress .filled-18.bar::before {
  transform: scaleX(0.18);
}
.payment-progress .filled-19.bar::before {
  transform: scaleX(0.19);
}
.payment-progress .filled-20.bar::before {
  transform: scaleX(0.2);
}
.payment-progress .filled-21.bar::before {
  transform: scaleX(0.21);
}
.payment-progress .filled-22.bar::before {
  transform: scaleX(0.22);
}
.payment-progress .filled-23.bar::before {
  transform: scaleX(0.23);
}
.payment-progress .filled-24.bar::before {
  transform: scaleX(0.24);
}
.payment-progress .filled-25.bar::before {
  transform: scaleX(0.25);
}
.payment-progress .filled-26.bar::before {
  transform: scaleX(0.26);
}
.payment-progress .filled-27.bar::before {
  transform: scaleX(0.27);
}
.payment-progress .filled-28.bar::before {
  transform: scaleX(0.28);
}
.payment-progress .filled-29.bar::before {
  transform: scaleX(0.29);
}
.payment-progress .filled-30.bar::before {
  transform: scaleX(0.3);
}
.payment-progress .filled-31.bar::before {
  transform: scaleX(0.31);
}
.payment-progress .filled-32.bar::before {
  transform: scaleX(0.32);
}
.payment-progress .filled-33.bar::before {
  transform: scaleX(0.33);
}
.payment-progress .filled-34.bar::before {
  transform: scaleX(0.34);
}
.payment-progress .filled-35.bar::before {
  transform: scaleX(0.35);
}
.payment-progress .filled-36.bar::before {
  transform: scaleX(0.36);
}
.payment-progress .filled-37.bar::before {
  transform: scaleX(0.37);
}
.payment-progress .filled-38.bar::before {
  transform: scaleX(0.38);
}
.payment-progress .filled-39.bar::before {
  transform: scaleX(0.39);
}
.payment-progress .filled-40.bar::before {
  transform: scaleX(0.4);
}
.payment-progress .filled-41.bar::before {
  transform: scaleX(0.41);
}
.payment-progress .filled-42.bar::before {
  transform: scaleX(0.42);
}
.payment-progress .filled-43.bar::before {
  transform: scaleX(0.43);
}
.payment-progress .filled-44.bar::before {
  transform: scaleX(0.44);
}
.payment-progress .filled-45.bar::before {
  transform: scaleX(0.45);
}
.payment-progress .filled-46.bar::before {
  transform: scaleX(0.46);
}
.payment-progress .filled-47.bar::before {
  transform: scaleX(0.47);
}
.payment-progress .filled-48.bar::before {
  transform: scaleX(0.48);
}
.payment-progress .filled-49.bar::before {
  transform: scaleX(0.49);
}
.payment-progress .filled-50.bar::before {
  transform: scaleX(0.5);
}
.payment-progress .filled-51.bar::before {
  transform: scaleX(0.51);
}
.payment-progress .filled-52.bar::before {
  transform: scaleX(0.52);
}
.payment-progress .filled-53.bar::before {
  transform: scaleX(0.53);
}
.payment-progress .filled-54.bar::before {
  transform: scaleX(0.54);
}
.payment-progress .filled-55.bar::before {
  transform: scaleX(0.55);
}
.payment-progress .filled-56.bar::before {
  transform: scaleX(0.56);
}
.payment-progress .filled-57.bar::before {
  transform: scaleX(0.57);
}
.payment-progress .filled-58.bar::before {
  transform: scaleX(0.58);
}
.payment-progress .filled-59.bar::before {
  transform: scaleX(0.59);
}
.payment-progress .filled-60.bar::before {
  transform: scaleX(0.6);
}
.payment-progress .filled-61.bar::before {
  transform: scaleX(0.61);
}
.payment-progress .filled-62.bar::before {
  transform: scaleX(0.62);
}
.payment-progress .filled-63.bar::before {
  transform: scaleX(0.63);
}
.payment-progress .filled-64.bar::before {
  transform: scaleX(0.64);
}
.payment-progress .filled-65.bar::before {
  transform: scaleX(0.65);
}
.payment-progress .filled-66.bar::before {
  transform: scaleX(0.66);
}
.payment-progress .filled-67.bar::before {
  transform: scaleX(0.67);
}
.payment-progress .filled-68.bar::before {
  transform: scaleX(0.68);
}
.payment-progress .filled-69.bar::before {
  transform: scaleX(0.69);
}
.payment-progress .filled-70.bar::before {
  transform: scaleX(0.7);
}
.payment-progress .filled-71.bar::before {
  transform: scaleX(0.71);
}
.payment-progress .filled-72.bar::before {
  transform: scaleX(0.72);
}
.payment-progress .filled-73.bar::before {
  transform: scaleX(0.73);
}
.payment-progress .filled-74.bar::before {
  transform: scaleX(0.74);
}
.payment-progress .filled-75.bar::before {
  transform: scaleX(0.75);
}
.payment-progress .filled-76.bar::before {
  transform: scaleX(0.76);
}
.payment-progress .filled-77.bar::before {
  transform: scaleX(0.77);
}
.payment-progress .filled-78.bar::before {
  transform: scaleX(0.78);
}
.payment-progress .filled-79.bar::before {
  transform: scaleX(0.79);
}
.payment-progress .filled-80.bar::before {
  transform: scaleX(0.8);
}
.payment-progress .filled-81.bar::before {
  transform: scaleX(0.81);
}
.payment-progress .filled-82.bar::before {
  transform: scaleX(0.82);
}
.payment-progress .filled-83.bar::before {
  transform: scaleX(0.83);
}
.payment-progress .filled-84.bar::before {
  transform: scaleX(0.84);
}
.payment-progress .filled-85.bar::before {
  transform: scaleX(0.85);
}
.payment-progress .filled-86.bar::before {
  transform: scaleX(0.86);
}
.payment-progress .filled-87.bar::before {
  transform: scaleX(0.87);
}
.payment-progress .filled-88.bar::before {
  transform: scaleX(0.88);
}
.payment-progress .filled-89.bar::before {
  transform: scaleX(0.89);
}
.payment-progress .filled-90.bar::before {
  transform: scaleX(0.9);
}
.payment-progress .filled-91.bar::before {
  transform: scaleX(0.91);
}
.payment-progress .filled-92.bar::before {
  transform: scaleX(0.92);
}
.payment-progress .filled-93.bar::before {
  transform: scaleX(0.93);
}
.payment-progress .filled-94.bar::before {
  transform: scaleX(0.94);
}
.payment-progress .filled-95.bar::before {
  transform: scaleX(0.95);
}
.payment-progress .filled-96.bar::before {
  transform: scaleX(0.96);
}
.payment-progress .filled-97.bar::before {
  transform: scaleX(0.97);
}
.payment-progress .filled-98.bar::before {
  transform: scaleX(0.98);
}
.payment-progress .filled-99.bar::before {
  transform: scaleX(0.99);
}
.payment-progress .filled-100.bar::before {
  transform: scaleX(1);
}

.form-fields {
  display: grid;
  gap: 2rem;
  padding: 1.5rem 0;
}
.form-fields .option {
  display: grid;
  grid-template-columns: auto 70px 1fr auto;
  gap: 1rem;
  padding: 0 1rem;
  align-items: center;
}
.form-fields .option img {
  max-height: 35px;
  justify-self: center;
}

@media screen and (min-width: 769px) {
  aside {
    display: none;
  }
  .payment-details {
    padding: 2rem 3rem;
  }
}
@media screen and (max-width: 768px) {
  main {
    padding: 2rem 0.5rem;
  }
  .payment-progress {
    padding: 1.5rem 0.5rem 0;
  }
  .form-fields {
    padding: 1.5rem 1rem;
  }
}

/*# sourceMappingURL=content.css.map */
