.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: #000B3A;
}

/* Customize pagination link colors */
.page-link {
    color: #000B3A; /* Change this to your desired color */
}

.page-link:hover {
    color: #000B3A; /* Change this to your desired hover color */
}

.page-item.active .page-link {
    color: #ffffff;
    background-color: #000B3A;
    border-color: #000B3A; /* Change this to your desired active link color */
}

.page-item.disabled .page-link {
    color: #000B3A; /* Change this to your desired color for disabled links */
}
