.pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: #000B3A;
}

.page-link {
    color: #000B3A;
}

.page-link:hover {
    color: #000B3A;
}

.page-item.active .page-link {
    color: #ffffff;
    background-color: #000B3A;
    border-color: #000B3A;
}

.page-item.disabled .page-link {
    color: #000B3A;
}
