.filter-window-framefix {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 11, 58, 0.05);
    z-index: 9999;
    display: none;
  }

  .filter-animation-frame {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .filter-window {
    border-radius: 12px;
    background-color: #F9F9FF;
    padding: 2rem;
    min-width: 200px;
    min-height: 300px;
  }

  .filter-content {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.4s;
    padding: 0.5rem 3rem;
  }
  .filter-content > div {
    overflow: auto;
    max-height: 100px;
  }
  .filter-content label {
    text-transform: capitalize;
  }

  .filter-expand {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  .filter-expand span {
    font-weight: bold;
  }
  .filter-expand i {
    font-size: 1.2rem;
    padding: 0.4rem 0.6rem;
    transition: background-color 0.2s, transform 0.4s;
    border-radius: 3px;
    cursor: pointer;
  }
  .filter-expand i:hover {
    background-color: rgba(0, 11, 58, 0.2);
  }
  .filter-expand.open i {
    transform: rotate(-180deg);
  }
  .filter-expand.open + .filter-content {
    grid-template-rows: 1fr;
  }

  .price-filter {
    position: relative;
    width: 100%;
  }
  .price-filter > div {
    height: 20px;
    width: 100%;
    position: inherit;
  }
  .price-filter .fill {
    width: 100%;
    height: 10px;
    display: block;
    border: 1px solid #000B3A;
    border-radius: 10000rem;
    background-color: #F9F9FF;
    top: 6px;
    position: relative;
  }
  .price-filter .bar {
    height: 10px;
    width: 100%;
    display: block;
    z-index: 1;
    position: relative;
    background-color: #000B3A;
    top: -4px;
    border-radius: 10000rem;
    border: 1px solid transparent;
  }
  .price-filter input[type=range] {
    width: 100%;
    position: absolute;
    top: 0px;
    height: 10px;
    pointer-events: none;
    background: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    z-index: 2;
  }
  .price-filter input[type=range]::-webkit-slider-thumb {
    pointer-events: auto;
    background: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #000B3A;
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative;
    top: 6px;
  }
  .price-filter input[type=range]::-webkit-slider-thumb:hover {
    background-color: #222C4D;
  }

  .price-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0.25rem 0;
    color: #000B3A;
  }

  @supports (backdrop-filter: blur(2px)) {
    .filter-window-framefix {
      backdrop-filter: blur(2px);
    }
  }
  @keyframes roll-out {
    0% {
      transform: translateY(-90%);
    }
    50% {
      transform: translateY(-70%);
    }
    85% {
      transform: translateY(10%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes roll-in {
    0% {
      transform: translateY(-90%);
    }
    50% {
      transform: translateY(-70%);
    }
    85% {
      transform: translateY(10%);
    }
    100% {
      transform: translateY(0);
    }
  }

  /*# sourceMappingURL=popup.css.map */
