@import "./colors.scss";

header {
    position: sticky;
    top: 0;
    z-index: 20;
    display: grid;
    grid-template-columns: auto 1fr 200px;
    padding: .5rem 1rem;
    box-shadow: 0 0 5px rgba($text, .4);
    background-color: $header-bg;

    .logo {
        padding: 1rem 2rem;

        img {
            max-height: 35px;
        }
    }

    .search {
        position: relative;
        align-self: center;
        display: flex;
        width: 100%;
        i {
            position: absolute;
            left: .5rem;
            bottom: .5rem;
        }
        
        form {
            width: 80%;
        }

        input {
            max-height: 35px;
            font-size: 1.2rem;
            padding: .5rem 1rem .5rem 2rem;
            border: none;
            outline: none;
            border-radius: 4px;
            width: 100%;
        }

        button {
            display: none;
        }
    }

    .icons {
        align-self: center;
        font-size: 2rem;

        i {
            padding: 0 1rem;
            cursor: pointer;
        }
    }
    
}

.hamburger {
    transition: transform .3s ease-in-out;
}

@media screen and (min-width: 769px) {
    .hamburger {
        display: none !important;
    }
}


@media screen and (max-width: 768px) {

    header {
        grid-template-columns: 70px auto 150px;

        .search {
            grid-row: 2;
            width: 100%;
            grid-column: span 3;
    
            form {
                width: 100%
            }
        }
    }
}