@import './colors.scss';

.labeled-input {
    position: relative;
    border-radius: 3px;
    padding-top: 1rem;

    input {
        padding: .5rem 1rem;
        border: none;
        outline: none;
        border-radius: 3px;
        color: $text;
        width: 100%;
        transition: box-shadow .3s;

        &:focus, &:valid {
            & + label {
                transform: translateY(-100%) translateX(-10%) scale(.8);
            }
        }
    }

    label {
        position: absolute;
        left: 1rem;
        bottom: .35rem;
        pointer-events: none;
        transition: all .3s;
    }

    &.underlined {
        overflow: hidden;

        input {
            background-color: transparent;
        }

        span {
            position: absolute;
            display: block;
            inset: calc(100% - 1px) 0 0 0;
            background-color: $text;
            transform: translateX(-100%);
            transition: transform .4s ease-in-out;
        }

        &::after {
            content: '';
            position: absolute;
            inset: calc(100% - 1px) 0 0 0;
            background-color: rgba($text, .5);
        }

        & input:focus, & input:valid {
            & ~ span {
                transform: translateX(0);
            }
        }
    }
}


@media (hover: hover) {
    .labeled-input.elevated input {
        &:hover, &:focus, &:valid {
            box-shadow: 0 0 5px rgba($text, .5);
        }
    }
}

@media (hover: none) {
    .labeled-input.elevated {
        box-shadow: 0 0 5px rgba($text, .5);
    }
}